#main, #code, #output, #option {
padding:1px 0;
}
#header {
/* background-color:#FF9900; */
text-align:center;
}
#main {
max-width:860px;
margin:auto;
}
#main.header {
float:left;
/* background-color:#FF9900; */
clear:both;
width:860px;
}
#code  {
float:left;
width:430px;
height:375px;
/* background-color:#FF3366; */
}
#output {
margin-left:435px;
width:430px;
height:375px;
/* background-color:#9966FF; */
}
#option {
float:left;
/* background-color:#669933; */
clear:both;
width:865px;
}
input[type="number"] {
   width:40px;
}
textarea {
	color: #FFFFFF;
	background-color : #303030;
	display: block;
	margin-left: auto;
    	margin-right: auto;
    	resize: none; 
   	border: none;
    	-webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    	-moz-box-sizing: border-box; /* FF1+ */
    	box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
 	width:98%;
 	height: 95%;
}

#editor { 
    width: 98%;
    height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}