Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
test-driver
exe
sniper
.dirstamp
.deps
*.o
*.a
*.trs
*_test
*~
.DS_Store
*.bc
*.ll
*.S
*.swp
*.dSYM
*.aux
*.log
*.gz
*.gz(busy)
*.zip
*.bbl
*.blg
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex
*.tmp
*.gcov
*.gcno
*.dvi
*.lof
*.lol
*.lot
